<!DOCTYPE html>
<html>
  <head>
    <title>SpeedBin</title>
    <meta name="description" content="Paste a code and share.">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="og:image" content="https://cdn.glitch.com/73059bb7-db48-42c9-9e2c-802b24e1573f%2Flogo.png">
    <meta name="google-site-verification" content="bgzamSFRW8FPakeMX4w9-Q4DubiQS6RGMjNZUBSOD9Y" />
    <link rel="icon" href="https://cdn.glitch.com/73059bb7-db48-42c9-9e2c-802b24e1573f%2Ffavicon.ico">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/codemirror.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/codemirror@5.49.2/lib/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/mode/javascript/javascript.js"></script>
    <script defer src="js/client.js"></script>
  </head>
  
  <body class="noselect">  
    <header>
      <div class="boxtop"><span id="logoText">Speed</span>&nbspBin</div>
      <div class="boxtop-2">
        <button title="Save" id="save"><i class="material-icons">save</i></button>
        <button title="New file" id="new"><i class="material-icons">file_copy</i></button>
        <button title="Edit" id="edit"><i class="material-icons">edit</i></button>
        <button title="Raw" id="raw"><i class="material-icons">code</i></button>
        <button title="Share" id="share"><i class="material-icons">share</i></button>
        <button title="Report a bug" id="bug"><i class="material-icons">bug_report</i></button>
      </div>
    </header>

    <main>
      <span id="side">►</span>
      <textarea id="textarea"></textarea>
    </main>
  </body>
</html>

