<!DOCTYPE html>
<html>
  <head>
    <title>SpeedBin</title>
    <meta name="description" content="Paste a code and share.">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="og:image" content="https://cdn.glitch.com/73059bb7-db48-42c9-9e2c-802b24e1573f%2Flogo.png">
    <link rel="icon" href="https://cdn.glitch.com/73059bb7-db48-42c9-9e2c-802b24e1573f%2Ffavicon.ico">
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script defer src="client.js"></script>
  </head>
  
  <body class="noselect">  
    <header>
      <div class="boxtop" onclick="homeButton()"><span id="logoText">Speed</span>&nbspBin</div>
      <div class="boxtop-2">
        <button onclick="saveButton()" title="Save" id="save"><i class="material-icons">save</i></button>
        <button onclick="newButton()" title="New file" id="new"><i class="material-icons">file_copy</i></button>
        <button onclick="editButton()" title="Edit" id="edit"><i class="material-icons">edit</i></button>
        <button onclick="rawButton()" title="Raw" id="raw"><i class="material-icons">code</i></button>
        <button onclick="shareButton()" title="Share" id="share"><i class="material-icons">share</i></button>
        <button onclick="reportButton()" title="Report a bug" id="bug"><i class="material-icons">bug_report</i></button>
      </div>
    </header>

    <main>
      <span id="side">►</span>
        <textarea id="textarea" spellcheck="false" placeholder="Paste a code"></textarea>
    </main>
  </body>
</html>

<!--<script src="https://cdn.jsdelivr.net/npm/codemirror@5.49.2/lib/codemirror.min.js"></script>
<link rel="stylesheet" href="/test.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/mode/javascript/javascript.js"></script>
<div id="code"></div>
<script type="text/javascript">
CodeMirror(document.getElementById('code'), { value: "function myScript(){return 100;}\n", mode: "javascript", lineNumbers: true});
</script> -->